{% extends "layout.twig" %}

{% block title %} Interface d'administration {% endblock %}

        {% block contents %}

            <h2 class="space">Ajouter un nouveau chapitre :</h2>

            <div class="modify">
                <form method="post" action="{{ url.URL }}public/?page=addPost">
                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" name="titleNewPost">

                        <textarea aria-label="content" class="form-control-sm" id="contentNewPost" name="contentNewPost" rows="22" cols ="100"></textarea>

                        <input class="btn btn-primary" type="submit" value="Publier">
                    </div>
                </form>
            </div>
        {% endblock contents %}

        {% block comments %}
            <h2 class="text-center">Commentaires signalés :</h2>

            {% for comment in comments %}

                <div class="card space text-center">
                    <h5 class="card-header"><span class="card-title">Posté par : {{ comment.author }} le {{ comment.date_publication_fr }} </span><a href="{{ url.URL }}public/?page=chapter&id={{ comment.id_post}}"> Lien vers le chapitre</a> </h5>
                    <div>
                        <p>{{ comment.comment }}</p>
                        <a  class="btn btn-primary space greenBtn btnAdmin" href="{{ url.URL }}public/?page=valCom&id={{ comment.id }}">Valider</a>
                        <a  class="btn btn-primary space redBtn btnAdmin" href="{{ url.URL }}public/?page=delCom&id={{ comment.id }}">Supprimer</a>
                    </div>
                </div>

            {% endfor %}
        {% endblock comments %}

        {% block users %}

            <h2 class="text-center">Liste des membres :</h2>

            <table class="table table-hover table-bordered text-center ">
                <thead class=" ">
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Rang</th>
                    <th scope="col">Date d'inscription</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="userList">
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.pseudo }}</th>
                        <td>{{ user.rank }}</td>
                        <td>{{ user.date_inscription }}</td>
                        <td>
                            {% if not user.rank is same as ("Admin") %}
                                <a  class="btn btn-primary redBtn " href="{{ url.URL }}public/?page=delUser&id={{ user.id }}">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endblock users %}

{% block script %}

        <script src="https://cdn.tiny.cloud/1/86dwj93jeidl87z3q3afvplo43p9md7qlo4xpeq0hkuqinwu/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({
                selector: "textarea",
                width: "100%",
                height: 500,
                resize: false,
                elements:"contenu",
                language : "fr_FR",
                encoding: "UTF-8",
                force_p_newlines : false,
                forced_root_block : false,
                force_br_newlines : true,
                nowrap : true,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar: 'undo redo | formatselect | bold underline italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',

        })</script>

{% endblock %}