{% extends "layout.twig" %}

{% block title %} <h1>{{ posts.title }}</h1> {% endblock %}

        {% block posts %}

            <div>
                <section>
                    <h2> Publié le {{ posts.postDate }}</h2>
                    <div>
                        <p>{{ posts.content }}</p>
                    </div>

                </section>
            </div>

        {% endblock posts %}



{% block comments %}
    <h3>Commentaires : </h3>

    {% for comment in comments %}
        <section>

            <h5>Posté par : <strong>{{ comment.author }}</strong>, le {{ comment.date_publication_fr }}</h5>
            <div>
                <p>{{ comment.comment }}</p>
            </div>
        </section>

    {% endfor %}
{% endblock comments %}

