{% extends "layout.twig" %}

        {% block title %}CHAPTERLIST // Liste des chapitres{% endblock %}


        {% block posts %}
            {% for post in posts %}
            <div>
                <section>
                    <h3> Partie {{ post.id }} : <strong>{{ post.title }}</strong> | Publié le {{ post.postDate }}</h3>
                    <div>
                        <p>{{ post.content }}</p>
                        <a href="http://localhost/projet4/public/?page=chapter&id={{ post.id}}">Lire la suite</a>
                    </div>

                </section>
            </div>
            {% endfor %}
        {% endblock posts %}