{% extends "layout.twig" %}

{% block title %} <h1 class="jumbotron jumbotron-fluid text-center h1 bg">{{ contents.title }}</h1> {% endblock %}

        {% block contents %}


                <section class="card">
                    <h2 class="card-title"> Publié le {{ contents.postDate }}</h2>
                    <div class="card-text text-left">{{ contents.content | raw }}</div>

                    {% if session.rank is same as ("Admin") %}
                        <a href="http://localhost/projet4/public/?page=modifPost&id={{ contents.id }}">
                            <button type="button">Modifier ce chapitre</button>
                        </a>
                        <a href="http://localhost/projet4/public/?page=deletePost&id={{ contents.id }}">
                            <button class="button deletePost" type="button" >Supprimer ce chapitre</button>
                        </a>
                    {% endif %}


                </section>


        {% endblock contents %}



{% block comments %}
    <h3>Commentaires : </h3>

    {% for comment in comments %}
        <section>

            <h5>Posté par : <strong>{{ comment.author }}</strong>, le {{ comment.date_publication_fr }}</h5>
            <div>
                <p>{{ comment.comment | nl2br }}</p>

                {% if session.pseudo is defined %}
                    <form method="post" action="http://localhost/projet4/public/?page=reportComment&id={{ contents.id }}">
                        <input type="hidden" name="idComment" value="{{ comment.id }}">
                        <button class="reportComment" type="submit" value="Signaler">Signaler</button>
                    </form>
                {% endif %}
            </div>
        </section>

    {% endfor %}

    {% if session.pseudo is defined %}
    <h3>Ajouter un commentaire : </h3>

    <form method="post" action="http://localhost/projet4/public/?page=sendcom&id={{ contents.id }}">

        <label for="presentation">Votre message : </label>
        <textarea required name="comment" id="comment"></textarea><br><br>

        <input type="submit" value="Envoyer">
    </form>
    {% endif %}

    {% if session.pseudo is not defined %}
    <h4>Inscrivez-vous pour laisser un commentaire !</h4>
    {% endif %}

{% endblock comments %}

