{% extends "layout.twig" %}

{% block title %} <h1>HOME // Bienvenue sur mon blog !</h1> {% endblock title%}

{% block subTitle %} <h2>Voici le dernier chapitre en ligne : </h2>{% endblock subTitle%}

{% block contents %}

    <div>
        <section>
            <h3> Partie {{ posts.id }} : <strong>{{ posts.title }}</strong> | Publié le {{ posts.postDate }}</h3>
            <div>
                <p>{{ posts.content }}</p>
                <a href="http://localhost/projet4/public/?page=chapter&id={{ posts.id}}">Lire la suite</a>
            </div>

        </section>
    </div>

{% endblock contents %}